@media (min-width: 200px) and (max-width: 500px) {
  .header {
    height: 45px;
    justify-content: center;
  }

  .header .logo {
    padding: 0;
    font-size: 1.8rem;
  }

  .main .birdInfo {
    grid-template-areas:
      "sliderSideBar"
      "text";
  }

  .main .birdInfo .text {
    padding: 10px 10px;
  }

  .main .birdInfo .sliderSideBar {
    width: 240px;
    margin-left: auto;
    margin-top: 10px;
    margin-right: auto;
  }

  .main .birdInfo .sliderSideBar .slider {
    width: 100%;
    height: 190px;
  }

  .main .birdInfo .sliderSideBar .seeAlso {
    display: none;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  .header {
    height: 90px;
  }

  .header .logo {
    padding-left: 10px;
    font-size: 3rem;
  }

  .main .birdInfo {
    grid-template-columns: 50% 50%;
  }

  .main .birdInfo .sliderSideBar {
    padding: 50px 30px;
  }

  .main .birdInfo .text {
    padding: 20px 20px;
    font-size: 1rem;
  }

  .main .birdInfo .sliderSideBar .slider {
    width: 100%;
    height: 280px;
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .header {
    height: 90px;
  }

  .header .logo {
    padding-left: 10px;
    font-size: 3rem;
  }

  .main .birdInfo {
    grid-template-areas: "sliderSideBar text";
    grid-template-columns: 50% 50%;
  }

  .main .birdInfo .sliderSideBar {
    padding: 50px 30px;
  }

  .main .birdInfo .text {
    padding: 20px 20px;
    font-size: 1.5rem;
  }

  .main .birdInfo .sliderSideBar .slider {
    width: 100%;
    height: 350px;
  }
}

@media (min-width: 1301px) and (max-width: 2459px) {
  .header {
    height: 90px;
  }

  .header .logo {
    padding-left: 10px;
    font-size: 3rem;
  }

  .main .birdInfo .text {
    padding: 20px 20px;
    font-size: 1.5rem;
  }

  .main .birdInfo {
    grid-template-areas: "sliderSideBar text";
  }

  .main .birdInfo .sliderSideBar {
    padding: 50px 30px;
  }

  .main .birdInfo .sliderSideBar .slider {
    width: 100%;
    height: 350px;
    margin: 0;
  }
}
@media (min-width: 2500px) and (max-width: 12400px) {
  .header {
    height: 90px;
  }

  .header .logo {
    font-size: 3rem;
    padding-left: 10px;
  }

  .main .birdInfo {
    grid-template-areas: "sliderSideBar text";
    grid-template-columns: 5fr 5fr;
  }

  .main .birdInfo .sliderSideBar {
    padding: 50px 30px;
  }

  .main .birdInfo .text {
    padding: 20px 20px;
    font-size: 1.5rem;
  }

  .main .birdInfo .sliderSideBar .slider {
    width: 100%;
    height: 350px;
  }
}

.main {
  background: url(../../assets/images/wood.jpg), rgba(69, 67, 67, 0.1);
  background-blend-mode: color;
}

.header {
  display: flex;
  width: 100%;

  background-color: black;
}

.header .logo {
  display: flex;
  align-items: center;
  font-family: "JetBrainsMono";
  text-transform: uppercase;
  cursor: pointer;

  color: var(--detail-color);
}

.header .logo span {
  color: var(--second-base-color);
}

.main .birdInfo {
  width: 95%;
  margin-left: auto;
  margin-top: 30px;
  margin-right: auto;
  display: grid;

  background-color: #5d6c5d;
  box-shadow: 0px 0px 10px #000;
}

.main .birdInfo .sliderSideBar {
  grid-area: "sliderSideBar";
  float: left;
}

.main .birdInfo .sliderSideBar .slider {
  max-width: 465px;
  margin: 0;

  border: 5px solid rgb(77, 76, 76);
}

.main .birdInfo .sliderSideBar .slider .slide img {
  width: 100%;
  height: 100%;
  filter: saturate(0.8);
}

.main .birdInfo .sliderSideBar .audio audio {
  width: 100%;
  max-width: 350px;
  margin-top: 10%;
}

.main .birdInfo .text {
  grid-area: "text";

  color: #fff;
}

.main .birdInfo .text h2 {
  font-weight: normal;
  font-style: italic;
}

.main .birdInfo .sliderSideBar .seeAlso {
  margin-top: 50px;
  font-size: 1.3rem;

  color: #fff;
}

.main .birdInfo .sliderSideBar .seeAlso .anotherBirds {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;

  color: #000;
}

.main .birdInfo .sliderSideBar .seeAlso .anotherBirds .anotherBird {
  width: 200px;
  height: 150px;
  cursor: pointer;

  background-color: #fff;
}
.main .birdInfo .sliderSideBar .seeAlso .anotherBirds .anotherBird:hover {
  transform: scale(1.1);

  background-color: #fff;
}

.main .birdInfo .sliderSideBar .seeAlso .anotherBirds .anotherBird img {
  width: 100%;
  height: 100%;
}

.main
  .birdInfo
  .sliderSideBar
  .seeAlso
  .anotherBirds
  .anotherBird
  .anotherBirdName
  a {
  color: #fff;
  cursor: pointer;
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("../../fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
