.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70px;
  padding: 0px 10px;

  background-color: #000;
}

.header .searchByName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .searchByName input {
  width: 80%;
  min-width: 135px;
  max-width: 250px;
  height: 32px;
}
