:root {
  --base-color: #95b196;
  --second-base-color: #6b0b3d;
  --header-color: #000;
  --detail-color: #fff;
  --substrate-color: #1d261d;
  --mobail-substrate-color: #334734b3;
}

@media (min-width: 200px) and (max-width: 500px) {
  body {
    width: 100%;
  }
}

@media (min-width: 510px) and (max-width: 12450px) {
  body {
    width: 80%;
  }
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: var(--header-color);
  }
}
