.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
  padding: 0px 10px;

  background-color: var(--header-color);
}

.header .searchByName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .searchByName input {
  width: 100%;
  min-width: 135px;
  max-width: 250px;
  height: 40px;
}

.header .logo {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-family: "JetBrainsMono";
  text-transform: uppercase;

  color: var(--detail-color);
}

.header .logo span {
  color: var(--second-base-color);
}

.content {
  padding-top: 20px;
  opacity: 1;
  text-align: center;
  pointer-events: all;

  background-color: var(--base-color);
  background-image: url(../assets/images/birds-container.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  box-shadow: 0px 0px 20px var(--header-color);
}

.content nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.content .birdCard {
  width: 280px;
  height: 320px;
}

.content .birdCard .player {
  width: 280px;
  height: 280px;
  position: relative;

  background-color: var(--substrate-color);
  border-radius: 25px;
}

.content .birdCard .player .photo {
  width: 280px;
  height: 280px;
  filter: contrast(1.2);
  z-index: 1;

  border-radius: 25px;
}

.content .birdCard .player .playButton {
  position: absolute;
  margin-left: 95px;
  margin-top: 95px;
  z-index: 2;
}

.content .birdCard a {
  font-size: 1.3rem;
  text-decoration: none;

  color: var(--detail-color);
}

.content .birdCard a:hover {
  font-weight: bold;
  color: var(--second-base-color);
}

.content .filterByLetter {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 20px;
}

.content .filterByLetter .letter {
  text-transform: uppercase;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--detail-color);
}

.content .filterByLetter .letter:hover {
  color: var(--second-base-color);
}

.content .filterByLetter .selected {
  color: var(--second-base-color);
}

.content .filterByLetter .resetFilter {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;

  color: var(--detail-color);
}

.content .filterByLetter .resetFilter:hover {
  color: var(--second-base-color);
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("../fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
