@media (min-width: 200px) and (max-width: 428px) {
  .header {
    grid-template-rows: 1fr 1fr;
    padding: 0;
  }

  .header .logo {
    font-size: 1.8rem;
    justify-content: center;
  }

  .header .searchByName {
    width: 100%;
    background-color: var(--second-base-color);
  }

  .header .searchByName input {
    width: 85%;
    max-width: 250px;
    height: 30px;
  }

  .content {
    background-image: url(../assets/images/mobail-bg.jpg);
    background-repeat: repeat-y;
  }

  .content .birdCard {
    padding-top: 20px;
    padding-bottom: 20px;

    background-color: var(--mobail-substrate-color);
    border: 1px solid var(--detail-color);
  }

  .content .filterByLetter {
    display: none;
  }

  .content .birdCard a {
    font-size: 1.2rem;
  }

  .content .birdCard .player {
    display: none;
  }

  .content .birdCard .player .playButton {
    display: none;
  }

  .content nav {
    flex-direction: column;
  }
}

@media (min-width: 430px) and (max-width: 900px) {
  .content .filterByLetter {
    flex-wrap: wrap;
  }

  .header {
    grid-template-columns: 1fr 1fr;
    padding: 0px 10px;
  }

  .header .logo {
    font-size: 3rem;
  }

  .header .searchByName input {
    width: 100%;
    min-width: 135px;
    max-width: 250px;
    height: 40px;
  }

  .content {
    padding-top: 20px;
    
    background-image: url(../assets/images/birds-container.png);
    background-repeat: no-repeat;
  }

  .content .filterByLetter {
    display: flex;
  }

  .content .birdCard {
    width: 280px;
    height: 320px;
  }

  .content .birdCard a {
    font-size: 1.3rem;
  }

  .content nav {
    flex-direction: row;
    gap: 12px;
  }
}

@media (min-width: 901px) and (max-width: 12450px) {
  .header {
    grid-template-columns: 1fr 1fr;
    padding: 0px 10px;
  }

  .header .logo {
    font-size: 3rem;
  }

  .header .searchByName input {
    width: 100%;
    min-width: 135px;
    max-width: 250px;
    height: 40px;
  }

  .content {
    padding-top: 20px;

    background-image: url(../assets/images/birds-container.png);
    background-repeat: no-repeat;
  }

  .content .filterByLetter {
    display: flex;
  }

  .content .birdCard {
    width: 280px;
    height: 320px;
  }

  .content .birdCard a {
    font-size: 1.3rem;
  }

  .content nav {
    flex-direction: row;
    gap: 12px;
  }
}

.header {
  display: grid;
  height: 90px;

  background-color: var(--header-color);
}

.header .searchByName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logo {
  display: flex;
  align-items: center;
  font-family: "JetBrainsMono";
  text-transform: uppercase;

  color: var(--detail-color);
}

.header .logo span {
  color: var(--second-base-color);
}

.content {
  opacity: 1;
  text-align: center;
  pointer-events: all;

  background-color: var(--base-color);
  background-position: 50% 100%;
  box-shadow: 0px 0px 20px var(--header-color);
}

.content nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content .birdCard .player {
  width: 280px;
  height: 280px;
  position: relative;

  background-color: var(--substrate-color);
  border-radius: 25px;
}

.content .birdCard .player .photo {
  width: 280px;
  height: 280px;
  filter: contrast(1.2);
  z-index: 1;

  border-radius: 25px;
}

.content .birdCard .player .playButton {
  position: absolute;
  margin-left: 95px;
  margin-top: 95px;
  z-index: 2;
  cursor: pointer;
}

.content .birdCard a {
  text-decoration: none;

  color: var(--detail-color);
}

.content .birdCard a:hover {
  font-weight: bold;
  color: var(--second-base-color);
}

.content .filterByLetter {
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 20px;
}

.content .filterByLetter .letter {
  text-transform: uppercase;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--detail-color);
}

.content .filterByLetter .letter:hover {
  color: var(--second-base-color);
}

.content .filterByLetter .selected {
  color: var(--second-base-color);
}

.content .filterByLetter .resetFilter {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;

  color: var(--detail-color);
}

.content .filterByLetter .resetFilter:hover {
  color: var(--second-base-color);
}

@font-face {
  font-family: "JetBrainsMono";
  src: url("../fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
