.overlayContent {
  padding-top: 20px;
  opacity: 1;
  text-align: center;
  pointer-events: all;

  background-color: #95b196;
  background-image: url(../assets/images/birds-container.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.overlayContent nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}

.overlayContent .birdCard {
  width: 280px;
  height: 320px;
}

.overlayContent .birdCard .player {
  width: 280px;
  height: 280px;

  background-color: #1d261d;
  border-radius: 25px;
}

.overlayContent .birdCard a {
  font-size: 1.5rem;
  text-decoration: none;

  color: #fff;
}

.overlayContent .birdCard a:hover {
  font-weight: bold;
  color: #6b0b3d;;
}
